{% extends "base.html.twig" %}

{% block body %}
	<section id="header">
		<h1 class="my-3">Retrouvez tous nos biens disponibles ici</h1>
		{{ form(form) }}
		<div>
			<hr>
			<p class="h5">Nombre de biens disponibles:
				<span class="text-success">{{ pagination.getTotalItemCount }}</span>
			</p>
            <table class="table">
                <tr>
                    <th{% if pagination.isSorted('nbPieces') %} class="sorted text-warning"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'Pièces', 'nbPieces') }}
                    </th>
                    <th{% if pagination.isSorted('surface') %} class="sorted text-warning"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'Surface', 'surface') }}
                    </th>
                    <th{% if pagination.isSorted('prix') %} class="sorted bg-warning"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'Prix', 'prix') }}
                    </th>
                </tr>
            </table>
			<hr>
		</div>
	</section>
	<section id="content" class="d-flex justify-content-around flex-wrap">
		{% for bien in pagination %}
			<article class="card text-dark m-3" style="width: 18rem;">
				<img src="https://fakeimg.pl/300x150" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{bien.titre}}</h5>
					<p class="card-text">nb de pièces:
						{{bien.nbPieces}}</p>
					<p class="card-text">Surface:
						{{bien.surface}}</p>
					<p class="card-text">Prix:
						{{bien.prix}}</p>
					<p class="card-text h4">{{bien.transactionType}}</p>
					<a href="#" class="btn btn-info">Voir le bien</a>
				</div>
			</article>
		{% endfor %}
		<div class="navigation">
			{{ knp_pagination_render(pagination) }}
		</div>
	</section>

{% endblock %}
